@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;

  cursor: default;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
  
}

body {
  background-color: #9cd7ff;

  min-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;

}

#calculator-container {
  max-width: 380px;
  min-width: 315px;
  width: 80%;
  height: 670px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;

  box-shadow:0 0 10px rgba(0, 0, 0, 0.2);

}

#output {
  background-color: white;

  width: 100%;
  height: 40%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  

  padding: 50px 30px 30px;

  border-radius: 10px 10px 2px 2px;

}

#output .result {
  background-color: white;
  width: 100%;
  font-size: 3.2rem;

  color: black;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: end;

  border: none;
  outline: none;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */   

}

#output .result::placeholder {
  color: black;

}

#output .previous-account {
  font-size: 1.3rem;
  color: #02b1ff;

}

#key-container {
  background-color: #272727;
  
  width: 100%;
  height: 590px;

  position: relative;
  
  border-radius: 2px 2px 10px 10px;

}

.row {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;

}

.fourth {
  width: 75%;

}

.fifth {
  width: 50%;

}

.key {
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: #e4e4e4;
  font-size: 1.2rem;
  font-weight: 400;

  transition: box-shadow 0.5s ;

}

.operator,
.delete {
  background-color: #2b2b2b;

  color: #2688B9;
  font-size: 1.3rem;

}

.enter {
  background-color: #02b1ff;
  width: 25%;
  height: 46%;

  position: absolute;
  right: 0;
  bottom: 0; 

  border-radius: 0 0 10px 0;

}

.key:hover {
  box-shadow: 0 2px 12px -1px rgba(0, 0, 0, 0.3);

  border-radius: 2px;

  z-index: 2;

}

.enter:hover {
  box-shadow: none;
  border-radius: 0 0 10px 0;

}